/* Add a black background color to the top navigation */
.topnav {
    background-color: firebrick;
    overflow: hidden;
    border: 3px solid black;
    position: relative;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid darkred;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: lightcoral;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: white;
    color: firebrick;
}
/* Add a paragraph in the center of the webpage */
p {
    border: 20px solid firebrick;
    background-color: ghostwhite;

    padding: 10px;
    font-weight: bold;
    height: 25px;
    width: auto;
    text-align: center;
    margin-bottom: 100px;

    /* Updated styles for positioning */
    position: relative;

    /*transform: translateX(-10%);
    transform: translateY(-10%);*/
}
body {
    display: flex;
    justify-content: center;
    font-family: "Book Antiqua", sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    margin-bottom: 100px;

}
#pictures{
    width:600px;
    height:300px;
    border:2px solid black;
    align-items: center;

}